/* .globe-container {
    width: 50vw;
    height: 50vh;
    position: relative;
  }
  
  @media (max-width: 768px) {
    .globe-container {
      width: 5vw;
      height: 30vh; /* Adjust height if needed for mobile */
    }
  }
   */